# Base
ENVIRONMENT='production'
PROJECT_NAME='kiki-core-stack'

# Compose
DOCKER_REGISTRY_HOST=''
LOGS_ROOT_PATH="/data/projects/${PROJECT_NAME}/${ENVIRONMENT}/logs"
NPM_CONFIG_REGISTRY='https://registry.npmjs.org'
PNPM_CONFIG_REGISTRY='https://registry.npmjs.org'

## For secrets

### Database
MONGODB_RS_HOST='mongodb'
MONGODB_URI="mongodb://${MONGODB_RS_HOST}:27017/${PROJECT_NAME}-${ENVIRONMENT}?directConnection=true&replicaSet=rs0"

### Redis
REDIS_URL='redis://dragonfly:6379'

# Service-specific configuration

## Admin frontend
ADMIN_FRONTEND_STATIC_DIR_PATH="/data/projects/${PROJECT_NAME}/${ENVIRONMENT}/statics/admin-frontend"

## Management backend
MANAGEMENT_BACKEND_EXPOSE_PORT=8080
